<h1>SIGN UP</h1>

<form action = "{% url 'login:signup' %}" method = 'post'>
    {% csrf_token %}

    <label for = "email">Email: </label>
    <input type = "email" name = "email" id = "email" value = ""/>
    
    <br /><label for = "firstname">First name: </label>
    <input type = "text" name = "firstname" id = "firstname" value = ""/>
    
    <br /><label for = "lastname">Last name: </label>
    <input type = "text" name = "lastname" id = "lastname" value = ""/>

	<br /><label for = "username">Username: </label>
	<input type = "text" name = "username" id = "username" value = ""/>

	<br /><label for = "password"><br />Password: </label>
	<input type = "password" name = "password" id = "password" value = ""/>

	<br /><input type = "submit" value = "Sign up" />
	
</fomr>